<!-- Header Start -->
<app-product-header></app-product-header>
<!-- Header End -->


<section class="terms-wrapper">
    <div class="container">

        <div class="terms-header">
            <h2 class="terms-heading">Terms and Conditions User Agreement</h2>
        </div>

        <div class="terms-content">
            <div class="row">
                <div class="col-12">

                    <div class="mb-3">
                        <div class="label">
                            Terms & Conditions
                        </div>
                        <div class="small-text">
                            By visiting our site www.edelweisstokio.in (“<span class="ft-bold">Website</span>”) you
                            (“you” refers to the user or
                            viewer of the Website) are
                            agreeing to be bound by the following terms and conditions. We may change these terms and
                            conditions at any time. By
                            using this Website or any utility in this website directly or indirectly you abide by all
                            terms and conditions mentioned
                            herein and that you accept any new or modified terms and conditions that we come up with. If
                            you do not agree to any of
                            the terms mentioned herein, you should exit the site immediately.
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="label">
                            Registration / Enrolment and Termination
                        </div>
                        <div class="small-text">
                            By registering for this facility you understand that Edelweiss Tokio Life Insurance Company
                            Limited and its group
                            companies, directors, employees and associates (hereinafter singly and jointly referred to
                            as “ETLI”) reserves its
                            rights in its sole discretion, to deny you access to this Website or any portion thereof
                            without notice for the
                            following reasons (a) any unauthorized access or use by you (b) if you assign or transfer
                            (or attempt the same) any
                            rights granted to you under this User Agreement or any other agreement that you may have
                            entered with ETLI; (c) if you
                            violate any of the other terms and conditions of this User Agreement. Termination or
                            cancellation of this Agreement
                            shall not effect any right or relief to which ETLI may be entitled, at law or in equity.
                            Upon termination of this User
                            Agreement, all rights granted to you will terminate and revert to ETLI.
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="label">
                            License
                        </div>
                        <div class="small-text">
                            ETLI, hereby grants you a limited, non-exclusive, non-assignable and non-transferable
                            license to access to the Website
                            provided and expressly conditioned upon your agreement that all such access and use shall be
                            governed by all of the
                            terms and conditions set forth in this User Agreement.
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="label">
                            Security
                        </div>
                        <div class="small-text">
                            <div class="mb-3">
                                Unauthorized use of this Website and systems, including, but not limited to,
                                unauthorized
                                entry into ETLI’s systems,
                                online accounts, client desks, partners & distributor desks, misuse of passwords or
                                misuse
                                of any other information, is
                                strictly prohibited. You may not use this Website in any manner that could damage,
                                disable,
                                overburden, or impair this
                                Website or service or interfere with any other party's use and enjoyment of this Website
                                or
                                service. You may not attempt
                                to gain unauthorized access to any of our site or service and computer systems or
                                networks
                                connected to it, through
                                hacking. You agree that you will not engage in any activities related to this website
                                that
                                are contrary to the
                                applicable laws or regulations in force.
                            </div>
                            <div>
                                The users have the primary responsibility to keep their login-ids and passwords secure
                                and
                                to not display such crucial,
                                important information to any third person. In case of any such leak of login-id &
                                password,
                                ETLI cannot be responsible
                                for the loss of such information, or for any act, omission, damages, claims, loss of
                                personal information, etc arising
                                from the use of such leakage of login-ids and passwords. ETLI may, at its own
                                discretion,
                                use certain technology on its
                                websites to collect information from visitors and may compile aggregate statistical
                                information about how visitors use
                                its websites, including information relating to the frequency of visits, the average
                                length
                                of visits, which pages are
                                viewed during a visit. No individually identifiable information is collected for this
                                purpose and ETLI does not monitor
                                individual visitor behavior.
                            </div>


                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="label">
                            Service Delays
                        </div>
                        <div class="small-text">
                            ETLI reserves its right, in its sole discretion, without any obligation and without any
                            notice requirement, to change,
                            improve or correct the information, materials and descriptions on this website and to
                            suspend and/or deny access to this
                            website for scheduled or unscheduled maintenance, upgrades, improvements or corrections.
                            ETLI may discontinue or change
                            any service described in or offered on this Website or in any modules or parts thereof at
                            any time if deems fit and
                            proper. ETLI (including its and their directors, employees, affiliates, agents,
                            representatives or subcontractors) shall
                            not be liable for any loss or liability resulting, directly or indirectly, from delays or
                            interruptions due to
                            electronic or mechanical equipment failures, telephone interconnect problems, defects,
                            weather, strikes, walkouts, fire,
                            riots, armed conflicts, acts of war, or other like causes. ETLI shall have no responsibility
                            to provide you access to
                            the Website while interruption of the Website is due to any such cause shall continue.
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="label">
                            Products offered on the Website
                        </div>
                        <div class="small-text mb-3">
                            With respect to the data and the products made available on the Website by ETLI, YOU HEREBY
                            AGREE THAT:
                        </div>
                        <div class="products-offered">
                            <ul class="product-list">
                                <li class="small-text">
                                    You have read and understood the contents of the various policy / terms and
                                    conditions document(s), addendum(s) thereto
                                    of the respective Insurance Policy/ies (“Policy/ies”) and agree to abide by the
                                    terms, conditions, rules and regulations
                                    of the Policy/ies applicable from time to time.
                                </li>
                                <li class="small-text">
                                    You have understood the details of the Policy/ies and have not received nor been
                                    induced by any rebate or gifts,
                                    directly or indirectly in purchasing the Policy/ies.
                                </li>
                                <li class="small-text">
                                    You confirm that in the event you are Non-Resident of Indian Nationality / Origin,
                                    that funds are remitted from abroad
                                    through approved banking channels or from the NRE / NRO / FCNR Account.
                                </li>
                                <li class="small-text">
                                    You confirm that the details provided by you are true and correct.
                                </li>
                                <li class="small-text">
                                    You hereby declare that the amount being invested by you in the Policy/ies is
                                    derived through legitimate sources and is
                                    not held or designed for the purpose of contravention of any Act, Rules, Regulations
                                    or any statute or legislation or
                                    any other applicable laws or any Notifications, Directions issued by any
                                    governmental, regulatory or statutory
                                    authority/ies from time to time.
                                </li>
                                <li class="small-text">
                                    By completing the Proposal Form and by completing the payment, and thereafter
                                    logging out your registered user account,
                                    you are aware and agree and confirm that you have applied for purchase of
                                    Policy/ies, and undertake to be bound by the
                                    obligations created by the said transaction(s), including the pecuniary obligation
                                    and will not have a right to annul or
                                    cancel the transaction(s), and will not be able to request for apportioning the
                                    First Premium against any other amounts
                                    payable by you to ETLI under any account whatsoever.
                                </li>
                                <li class="small-text">
                                    In addition to this User Agreement, you agree, confirm and understand that you will
                                    also be bound by and will have to
                                    observe the terms and conditions of the Policy/ies as recited in the related policy
                                    document(s) that will be issued to
                                    you.
                                </li>
                                <li class="small-text">
                                    ETLI is not obliged to provide facility for online premium payments or for
                                    conducting any transaction or submitting any
                                    request online or change of any personal information online by the mere fact that
                                    the facility has been provided.
                                </li>
                                <li class="small-text">
                                    The Policy/ies cannot be issued unless the first premium has been realized by ETLI.
                                    ‘realized’ implies in the case of
                                    credit /debit card payment, crediting of the first premium to the account of ETLI
                                    and in case of cheque payment,
                                    realization of the instrument by ETLI.
                                </li>
                                <li class="small-text">
                                    You have handed over to the representative of ETLI the signed proposal Form
                                    (together with necessary supporting duly
                                    certified). However, ETLI in its discretion may decide to issue the policy document
                                    for Policy to the customer without
                                    waiting for realization of cheque. In such case, in the event the cheque bounces or
                                    cannot be realized for any reason,
                                    the Policy will stand cancelled and be void.
                                </li>
                                <li class="small-text">
                                    You are responsible for the correctness of information supplied to ETLI for use of
                                    facility on this Website. ETLI
                                    accepts no liability for the consequences arising out of erroneous information
                                    supplied by you. If you notice an error
                                    in the information supplied either in the Proposal Form or in any other
                                    communication, you shall immediately advise ETLI
                                    which will endeavour to correct the error wherever possible on a "reasonable
                                    efforts" basis.
                                </li>
                                <li class="small-text">
                                    You accept that you will be responsible for keying in the correct account or card
                                    number for the fund transfer / credit
                                    card payment request. In no case, ETLI will be held liable for any erroneous
                                    transactions incurred arising out of or
                                    relating to you entering wrong account or card number. You understand that the
                                    credit /debit card details (where first
                                    premium is paid by credit card) is not stored on ETLI’s servers, and accordingly
                                    ETLI is not responsible for the
                                    security and / or safety of the card number or for any transaction under the card.
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="label">
                            Liability
                        </div>
                        <div class="small-text">
                            YOU AGREE THAT, ETLI (including its and their officers, directors, employees, affiliates,
                            group companies agents,
                            representatives or subcontractors) shall not be, in any event, be liable, whether in
                            contract or tort, for any direct,
                            special, indirect, consequential or incidental damages or other damages of any kind
                            whatsoever arising out of the use or
                            inability to use www.edelweisstokio.in for any purpose whatsoever even if ETLI or any other
                            such party has been advised
                            of the possibility thereof. ETLI and its affiliates, officers, directors, employees and
                            agents shall have no liability
                            in tort, contract, or otherwise to user and/or any third party. This limitation on liability
                            includes, but is not
                            limited to, the transmission of any viruses which may infect a user's equipment, failure of
                            mechanical or electronic
                            equipment or communication lines, telephone or other interconnect problems (e.g., you cannot
                            access your internet
                            service provider), unauthorized access, theft, operator errors, strikes or other labor
                            problems or any force majeure.
                            ETLI cannot and does not guarantee continuous, uninterrupted or secure access to this
                            website.
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="label">
                            Links to third party sites
                        </div>
                        <div class="small-text">
                            The links in this site will allow you to leave the Website. The linked sites are not under
                            the control of the Website.
                            The Website has not reviewed, nor approved these sites and is not responsible for the
                            contents or omissions of any
                            linked site or any links contained in a linked site. The inclusion of any linked site does
                            not imply endorsement by
                            www.edelweisstokio.in of the site.
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="small-text">
                            Indemnification
                        </div>
                        <div class="small-text">
                            YOU SHALL INDEMNIFY, DEFEND AND HOLD HARMLESS Edelweiss Tokio Life Insurance Company Limited
                            (including its and their
                            officers, directors, employees, affiliates, group companies, agents, representatives or
                            subcontractors) from any and all
                            claims and losses imposed on, incurred by or asserted as a result of or related to: (a) your
                            access
                            and use of
                            www.edelweisstokio.in (b) any non-compliance by user with the terms and conditions hereof;
                            or (c)
                            any third party
                            actions related to users receipt and use of the information, whether authorized or
                            unauthorized. Any
                            clause declared
                            invalid shall be deemed severable and not affect the validity or enforceability of the
                            remainder.
                            These terms may only
                            be amended in a writing signed by ETLI. If ETLI takes action (by itself or through its
                            associate
                            companies) to enforce
                            any of the provisions of this User Agreement, including collection of any amounts due
                            hereunder,
                            ETLI shall be entitled
                            to recover from you (and you agree to pay), in addition to all sums to which it is entitled
                            or any
                            other relief, at law
                            or in equity, reasonable and necessary attorney's fees and any costs of any litigation.
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="label">
                            Entire Agreement
                        </div>
                        <div class="small-text">
                            This User Agreement constitutes the entire agreement between the parties, and is inclusive
                            of any
                            other written
                            agreement existing between you and ETLI. By using the information on www.edelweisstokio.in,
                            you
                            assume full
                            responsibility for any and all gains and losses, financial, emotional or otherwise,
                            experienced,
                            suffered or incurred by
                            you. www.edelweisstokio.in does not guarantee the accuracy, completeness or timeliness of,
                            or
                            otherwise endorse in any
                            way, the views, opinions or recommendations expressed in the information, does not give
                            investment
                            advice, and does not
                            advocate the purchase or sale of any Insurance Policy/ies by you or any other individual.
                            The
                            information is not
                            intended to provide tax, legal or investment advice, which you should obtain from your
                            professional
                            advisor prior to
                            making any investment of the type discussed in the information. The information on this
                            Website does
                            not constitute a
                            solicitation by the information providers, www.edelweisstokio.in or other of the purchase of
                            Insurance Policy/ies. THE
                            SERVICE IS PROVIDED "AS IS," WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED,
                            INCLUDING
                            WITHOUT LIMITATION, ANY
                            WARRANTY FOR INFORMATION, DATA, SERVICES, UNINTERRUPTED ACCESS, PROVIDED THROUGH OR IN
                            CONNECTION
                            WITH THE SERVICE.
                            SPECIFICALLY, www.edelweisstokio.in DISCLAIMS ANY AND ALL WARRANTIES, INCLUDING, BUT NOT
                            LIMITED TO:
                            (i) ANY WARRANTIES
                            CONCERNING THE AVAILABILITY, ACCURACY, USEFULNESS, OR CONTENT OF INFORMATION, PRODUCTS OR
                            SERVICES;
                            AND (ii) ANY
                            WARRANTIES OF TITLE, WARRANTY OF NON-INFRINGEMENT, WARRANTIES OF MERCHANTABILITY OR FITNESS
                            FOR A
                            PARTICULAR PURPOSE.
                            THIS DISCLAIMER OF LIABILITY APPLIES TO ANY DAMAGES OR INJURY CAUSED BY ANY FAILURE OF
                            PERFORMANCE,
                            ERROR, OMISSION,
                            INTERRUPTION, DELETION, DEFECT, DELAY IN OPERATION OR TRANSMISSION, COMPUTER VIRUS,
                            COMMUNICATION
                            LINE FAILURE, THEFT OR
                            DESTRUCTION OR UNAUTHORIZED ACCESS TO, ALTERATION OF, OR USE OF RECORD, WHETHER FOR BREACH
                            OF
                            CONTRACT, TORT,
                            NEGLIGENCE, OR UNDER ANY OTHER CAUSE OF ACTION. NEITHER ETLI NOR ANY OF ITS EMPLOYEES,
                            AGENTS,
                            SUCCESSORS, ASSIGNS,
                            AFFILIATES, GROUP COMPANIES OR CONTENT OR SERVICE PROVIDERS SHALL BE LIABLE TO YOU OR OTHER
                            THIRD
                            PARTY FOR ANY DIRECT,
                            INDIRECT, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF USE OF SERVICE OR
                            INABILITY TO
                            GAIN ACCESS TO OR
                            USE THE SERVICE OR OUT OF ANY BREACH OF ANY WARRANTY. BECAUSE SOME COUNTRIES DO NOT ALLOW
                            THE
                            EXCLUSION OR LIMITATION OF
                            LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, THE ABOVE LIMITATION MAY NOT APPLY TO
                            YOU. IN
                            SUCH COUNTRIES, THE
                            RESPECTIVE LIABILITY OF ETLI ITS EMPLOYEES, AGENTS, SUCCESSORS, ASSIGNS, AFFILIATES, GROUP
                            COMPANIES
                            AND CONTENT OR
                            SERVICE PROVIDERS RESPECTIVE LIABILITY IS LIMITED TO THE AMOUNT PROVIDED UNDER SAID LAW.
                            FURTHER,
                            YOU AGREE AND
                            UNDERSTAND THAT ALL PRODUCTS / SERVICES PROVIDED ARE NON-REFUNDABLE AND THAT YOU SHOULD
                            CAREFULLY
                            CONSIDER WHETHER OUR
                            PRODCUTS / SERVICES ARE ABLE TO MEET YOUR NEEDS. Transactions between user of this site and
                            ETLI
                            shall be governed by
                            and construed in accordance with Insurance Regulatory and Development Authority (“IRDA”)
                            Regulations
                            and laws of India,
                            without regard to the laws regarding conflicts of law. Any litigation regarding this
                            agreement or
                            any transaction
                            between customer and ETLI or any action at law or in equity arising out of or relating to
                            these
                            agreement or transaction
                            shall be filed only in the Competent Courts of Mumbai and the customer hereby acknowledges,
                            agrees,
                            consents and submits
                            to the jurisdiction of such courts for the purpose of litigating any such action.
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="label">
                            Jurisdiction
                        </div>
                        <div class="small-text">
                            The terms of this agreement are exclusively based on and subject to Indian law. You hereby
                            consent
                            to the exclusive
                            jurisdiction and venue of courts in Mumbai, Maharashtra, India in all disputes arising out
                            of or
                            relating to the use of
                            this Website. Use of this Website is unauthorized in any jurisdiction that does not give
                            effect to
                            all provisions of
                            these terms and conditions, including without limitation this paragraph.
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>

<!-- Footer Start -->
<app-footer></app-footer>
<!-- Footer End -->