<!-- Thank you Popup Start -->
<section class="thankyou-popup">
    <a (click)="closeDialog()" class="closebutton"><img src="./assets/icons/close.svg" alt="" class="close-icon"></a>
    <div class="thankyou-content">
        <div class="col-12 thankyou-image">
            <a href="javascript:void(0)" class="content-center">
                <img src="./assets/icons/ok-tick.svg" alt="">
            </a>
        </div>
        <div class="col-12">
            <div class="d-flex flex-column text-center">
                <h4 class="heading">Thank You!</h4>
                <p class="subtext">Our expert will call you shortly</p>
            </div>
        </div>
    </div>
</section>
<!-- Thank you Popup End -->