<!-- Proposal Popup Start -->
<section class="proposal-popup">
    <div class="proposal-content">
        <div class="col-12 proposal-image">
            <a href="javascript:void(0)" class="content-center">
                <img src="./assets/icons/ok-tick.svg" alt="">
            </a>
        </div>
        <div class="col-12 text-center">
            <h4 class="heading">Your policy has been successfully generated!</h4>
            <h3 class="subheading">To get your policy delevered, We need some more detaily based on the inputs
                shared by you.
            </h3>
            <p class="subtext">NOTE: kindly keep the following documents handy</p>
        </div>
        <div class="col-12 col-lg-6 offset-lg-3 proposal-list">
            <ul class="bullet-list">
                <li>Aadhar Card</li>
                <li>Pan Card</li>
                <li>Password</li>
            </ul>
        </div>
        <div class="col-12 text-center">
            <div class="button-wrap">
                <button mat-raised-button color="primary" class="mat-button-lg" (click)="postProposal()">proceed</button>
            </div>
        </div>
    </div>
</section>
<!-- Proposal Popup End -->