<section class="popup-wrapper">
    <a class="closebutton" (click)="closeDialog()">
        <img src="./assets/icons/close.svg" alt="close" class="close-icon">
    </a>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="fund-allocated-header">
                    <h2 class="popup-heading">Incomplete Funds Allocated</h2>
                    <h3 class="popup-subheading ">Please make sure you have allocated 100% of funds before you proceed.
                    </h3>
                </div>
                <div class="button-wrap mt-2 mb-2">
                    <button mat-raised-button color="primary">Re-allocate Funds</button>
                </div>
            </div> <!-- fund-allocated-header div end-->
        </div>
    </div>
</section>