<!-- Report Claim pop up  Start -->
<section class="report-claim-popup">
    <a (click)="closeDialog()" class="closebutton"><img src="./assets/icons/close.svg" alt="" class="close-icon"></a>
    <div class="report-claim-content">
        <div class="col-12 report-claim-image">
            <a href="javascript:void(0)" class="content-center">
                <img src="./assets/icons/ok-tick.svg" alt="">
            </a>
        </div>
        <div class="col-12">
            <div class="d-flex flex-column text-center">
                <div class="report-claim-text">
                    Claim for the Policy Number:
                    <span>FHGJHG3458</span>
                    is successfully intimated
                </div>
            </div>
        </div>
        <div class="col-12 text-center">
            <div class="button-wrap">
                <button mat-raised-button color="primary" class="mat-button-lg" (click)="done()">Done</button>
            </div>
        </div>
    </div>
</section>
<!-- Report Claim pop up  End -->