<!-- Letter from CEO pop up  Start -->
<section class="ceo-letter-popup">
    <a (click)="closeDialog()" class="closebutton"><img src="./assets/icons/close.svg" alt="" class="close-icon"></a>
    <div class="ceo-letter-content">
        <div class="col-12 ceo-letter-image">
            <a href="javascript:void(0)" class="content-center">
                <img src="./assets/images/ceo.jpg" alt="">
            </a>
        </div>
        <div class="col-12">
            <div class="ceo-letter-head text-center">
                MD & CEO
            </div>

            <perfect-scrollbar>
                <div class="ceo-letter-text d-none d-lg-block">
                    <p>Dear Valued Customers,</p>
                    <p>Isn’t it incredible how quickly things can change? And although these changes can sometimes be
                        sorrowful, hope and
                        planning can be our two greatest assets through these trying times. Luckily an insurance cover
                        provides both.
                    </p>
                    <p>When you choose to invest in an insurance plan, you don’t just choose financial security for your
                        family but peace of
                        mind for yourself as well. Whether you are investing in a life insurance plan or a wealth
                        building
                        scheme, it is
                        important to partner with a company that echoes your faith.
                    </p>
                    <p>This way, when the time comes to settle the claims, you are assured of a prompt and effective
                        outcome.
                    </p>
                    <p>It gives me immense pleasure to be able to guarantee you such care and protection. We assure all
                        our
                        clients of an
                        insurance plan that is finely attuned to your personal needs as well as the needs of your loved
                        ones. In addition, we
                        also offer you flexibility to switch your plans and take control of your financial success
                        across
                        market volatilities.
                        This provides you with the added benefit of managing your policies to meet your changing life
                        events.
                    </p>
                    <p>Our company has two simple goals – to offer customised insurance solutions to all our clients and
                        to
                        honour every
                        commitment that we make. Our proven history of strong customer relationships has resulted from a
                        smooth settlement of
                        claims - a simple, quick and transparent process that has enabled us to stand apart from the
                        crowd.
                    </p>
                    <p>The strong connection we share with our customers will always be the driving force for us. Thank
                        you
                        for choosing to
                        affiliate with us, as we continuously strive to meet your varying needs and pursue our humane
                        goals.
                    </p>
                    <p>
                        God bless you with a long and healthy life!
                    </p>
                    <p class="mb-0">
                        Sumit Rai
                    </p>
                    <p>
                        MD & CEO
                    </p>
                </div>
            </perfect-scrollbar>

            <div class="ceo-letter-text d-lg-none">
                <p>Dear Valued Customers,</p>
                <p>Isn’t it incredible how quickly things can change? And although these changes can sometimes be
                    sorrowful, hope and
                    planning can be our two greatest assets through these trying times. Luckily an insurance cover
                    provides both.
                </p>
                <p>When you choose to invest in an insurance plan, you don’t just choose financial security for your
                    family but peace of
                    mind for yourself as well. Whether you are investing in a life insurance plan or a wealth
                    building
                    scheme, it is
                    important to partner with a company that echoes your faith.
                </p>
                <p>This way, when the time comes to settle the claims, you are assured of a prompt and effective
                    outcome.
                </p>
                <p>It gives me immense pleasure to be able to guarantee you such care and protection. We assure all
                    our
                    clients of an
                    insurance plan that is finely attuned to your personal needs as well as the needs of your loved
                    ones. In addition, we
                    also offer you flexibility to switch your plans and take control of your financial success
                    across
                    market volatilities.
                    This provides you with the added benefit of managing your policies to meet your changing life
                    events.
                </p>
                <p>Our company has two simple goals – to offer customised insurance solutions to all our clients and
                    to
                    honour every
                    commitment that we make. Our proven history of strong customer relationships has resulted from a
                    smooth settlement of
                    claims - a simple, quick and transparent process that has enabled us to stand apart from the
                    crowd.
                </p>
                <p>The strong connection we share with our customers will always be the driving force for us. Thank
                    you
                    for choosing to
                    affiliate with us, as we continuously strive to meet your varying needs and pursue our humane
                    goals.
                </p>
                <p>
                    God bless you with a long and healthy life!
                </p>
                <p class="mb-0">
                    Sumit Rai
                </p>
                <p>
                    MD & CEO
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Letter from CEO pop up End -->